@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
background-color: #add8e6;
 margin: 0;
 padding: 0;
 display: flex;
 flex-direction: column;
 min-height: 100vh;
 border: 2px solid #e5e7eb;
  margin: 16px;
}
main {
    flex: 1;
   }

footer {
    margin-top: auto;
   }

.output {
    background-color: #f0f8ff;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
   }